<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <hgroup>
        <h1>Car Rental Service</h1>
        <h2>Admin Version</h2>
        <h3>From here you can access the Administrator's controls.</h3>
    </hgroup>
    <p>Below you can navigate the system:</p>
    <menu>
        <li><a href="/car-list"><button type="button">List all currently available vehicles and locations</button></a></li>
        <li><a href="/car-list"><button type="button">Add a vehicle to a location</button></a></li>
        <li><a href="/add-location"><button type="button">Add a location</button></a></li>
        <li><a href="/index"><button type="button">Register a new user</button></a></li>
        <li><a href="/login"><button type="button">Return to the login page</button></a></li>
        <!--<li><a href="listVehicles.html"><button type="button">List all currently available vehicles</button></a></li>
        <li><a href="createVehicle.html"><button type="button">List a new vehicle</button></a></li>
        <li><a href="updateVehicle.html"><button type="button">Update a vehicle</button></a></li> Update a vehicle's parameters, including its availability.
        <li><a href="deleteVehicle.html"><button type="button">Delete a vehicle</button></a></li> If a vehicle is to be permanently removed from the system, e.g. in the event of irreparable damage.
        <li><button type="button" onclick="Vehicle.clearData()">Clear the database</button></li> DEVELOPMENT TOOL - Clears all vehicles from the database.
        <li><button type="button" onclick="Vehicle.createTestData()">Create test data</button></li> DEVELOPMENT TOOL - Creates sample vehicles for testing-->
    </menu>
</body>
</html>