<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Vehicle List</title>
  <link rel="stylesheet" href="css/style.css">

  <h1 align="center">Location List</h1>
  <div class="main">
  <div class="vehicle-lists">
  <h2 th:text="${location1.locationName}">Locations</h2>
  <h3>Vehicle List</h3>
    <div class="box">
  <table class="table table-stripped">
    <tr th:each="vehicle : ${location1vehicles}">
      <td th:text="${vehicle.name}">Vehicle Name</td>
      <td th:text="${vehicle.BodyType}" align="center" style="padding-left:10px">Vehicle Body Style</td>
      <td th:text="${vehicle.EngineSize}" style="padding-left:30px">Vehicle Engine Size</td>
      <td th:text="${vehicle.fuel}" style="padding-left:30px">Vehicle Fuel Type</td>
      <td th:text="${vehicle.SeatCapacity}" style="padding-left:30px">Vehicle Seat Capacity</td>
    </tr>
  </table>
    </div>
  <h4>Select Vehicle</h4>
  <form th:action="@{/car-list/order}" th:object="${car}" method="get">
    <select name="SelectVehicle" id="SelectVehicle">
      <option value="0">Select Vehicle</option>
      <option name="option"
              th:each="vehicle : ${location1vehicles}"
              th:value="${vehicle.vehicleID}"
              th:text="${vehicle.name}"></option>
    </select>
    <button type="submit" th:value="#{vehicle}">Order Vehicle</button>
  </form>
    </div>
  <div class="vehicle-lists">
  <h2 th:text="${location2.locationName}">Locations</h2>
  <h3>Vehicle List</h3>
    <div class="box">
  <table class="table table-stripped">
    <tr th:each="vehicle : ${location2vehicles}">
      <td th:text="${vehicle.name}">Vehicle Name</td>
      <td th:text="${vehicle.BodyType}" align="center" style="padding-left:10px">Vehicle Body Style</td>
      <td th:text="${vehicle.EngineSize}" style="padding-left:50x">Vehicle Engine Size</td>
      <td th:text="${vehicle.fuel}" style="padding-left:50px">Vehicle Fuel Type</td>
      <td th:text="${vehicle.SeatCapacity}" style="padding-left:50px">Vehicle Seat Capacity</td>
    </tr>
  </table>
    </div>
  <h4>Select Vehicle</h4>
  <form th:action="@{/car-list/order}" th:object="${car}" method="get">
    <select name="SelectVehicle" id="SelectVehicle2">
      <option value="0">Select Vehicle</option>
      <option name="option"
              th:each="vehicle : ${location2vehicles}"
              th:value="${vehicle.vehicleID}"
              th:text="${vehicle.name}"></option>
    </select>
    <button type="submit" th:value="#{vehicle}">Order Vehicle</button>
  </form>
    </div>
  </div>
</head>

</html>