<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="login-page">
    <h1>Registration Page</h1>
    <div class="form">
      <form class="login-form" action="#" th:action="@{/register}" th:object="${user}"
            method="post">
        <input type="text" name="name" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">Register</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>
  </body>
</html>